
ul.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    font-size: 16pt;
    font-family: "Ubuntu";
    width: 268px;

}

li.MenuLi {

    width: 268px;
    height: 60px;

}

li.MenuLi a {
    display: block;
    color: black;
    border-radius: 10px;
    text-align: left;
    padding: 14px 16px 16px 16px;
    text-decoration: none;
}

li.MenuLi a:hover {

}

.active_item {
    background: #F3F1ED;
}