
ul.Navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top:100px;
    left: 20px;
    font-size: 16pt;
    font-family: "Ubuntu";


}

li.NavigationLi {

    width: 268px;
    height: 60px;

}

li.NavigationLi a {
    display: block;
    color: black;
    border-radius: 10px;
    text-align: left;
    padding: 14px 16px 16px 100px;
    text-decoration: none;
}

li.NavigationLi a:hover {

}

.active_item {
    background: #F3F1ED;
}