.Article {
    font-family: Ubuntu;
    min-width: 200px;
    max-width: 350px;
    width: 100%;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
}

.DetailedNewsContainer{
    font-family: Ubuntu;
    width: 100%;
}

.btnCustom{
    font-family: Ubuntu;
    width: 230px;
}

.sign{
    font-family: Ubuntu;
    color: #666666 ;
}