ul.Navigation {
    position: absolute;
    top: 5px;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    right: 20px;
    width: 100px;
    font-family: "Ubuntu";
}

li.NavigationLi {
    float: left;
}

li.NavigationLi a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.NavigationLi a:hover {
    border-radius: 10px;
    background: #F3F1ED;
}

.active_item {
}