.Article {
    min-width: 200px;
    max-width: 350px;
    width: 100%;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 0 10px rgba(56, 56, 56, 0.5);
}

.ArticleTitle{
    width: 100%;
}

.DetailedNewsContainer{
    width: 100%;
}

.imgPreview {
    width: inherit;
}

.likes-img{

    width: 18px;
    height: 18px;
}

/*.Icons{*/
/*    position: relative;*/
/*    z-index: auto;*/
/*}*/